@tailwind base;
@tailwind components;
@tailwind utilities;

html::-webkit-scrollbar {
    display: none;
}
  
input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}

.underline-magical {
    @apply bg-gradient-to-r from-primary-500 to-primary-500 bg-no-repeat 
    no-underline [background-position:0_100%]
    [background-size:100%_0.2em] focus:[background-size:100%_100%] hover:text-white
    hover:[background-size:100%_100%] motion-safe:transition-all
    motion-safe:duration-300 dark:from-primary-500 dark:to-primary-500;
  }